@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,600|Miriam+Libre:400");

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.font-miriam-libre {
  font-family: "Miriam Libre";
}

.font-libre-franklin {
  font-family: "Libre Franklin";
}

.ant-btn[disabled] {
  background: #f5f5f5 !important;
  color: rgb(0, 0, 0, 0.25) !important;
}
